* {
  font-family: sans-serif;
}

html, body {
  margin: 10;
  border: 10;
  padding: 20;
  background-color: #13cfbc;
}

main {
  margin: auto;
  width: 60%;
  padding: 20px;
  background-color: lightblue;
  color:darkblue
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}